numpy==1.26.4
pandas==2.2.2
scipy==1.13.0
scikit-learn==1.4.2
nltk==3.8.1
spacy==3.7.0
spacy-transformers==1.2.0
sentence-transformers==2.4.0
huggingface-hub==0.20.3
datasets==2.14.0
torchvision==0.16.2
torch==2.2.2
transformers==4.40.2
ipykernel==6.29.4
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.66.1




